header {
    background-image: url('https://image.tmdb.org/t/p/original/7U2m2dMSIfHx2gWXKq78Xj1weuH.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    border-radius: 50px;
 }
 